@if (currentUser && isAdmin) {
<div class="container pt-5">
  <h1 class="text-center">Admin Board</h1>
  <div class="table-responsive mt-5 col-lg-8 mx-auto">
    <table class="table table-dark table-striped table-hover text-nowrap text-center table-bordered">
      <thead>
        <tr>
          <th>User-ID </th>
          <th>Username</th>
          <th>Email</th>
          <th>Date joined</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index;) {
        <tr>
          <td>{{user.user_id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.created_at}}</td>
          <td>
            @if (user.user_id != currentUser.user_id) {
            <button class="btn btn-sm btn-danger mx-0" (click)="deleteUser(user.user_id)">Delete user</button>}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>}
@else {
<p class="text-center">You are not supposed to be here, please log in</p>
}