<div class="container mx-auto py-5">
    <h1 class="text-center">Monster Survivors</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 pt-3">
        <div class="col">
            <div class="card">
                <img src="../../assets/game-pictures/picture1.png" class="card-img-top" alt="Gameplay picture showing different enemies">
                <div class="card-body">
                    <h5 class="card-title text-center">Slay enemies </h5>
                    <p class="card-text text-center">Encounter a variety of enemies. Battle through waves of
                        different
                        enemies and try to stay alive as long as you can</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/game-pictures/picture2.png" class="card-img-top" alt="Gameplay picture showing level up screen">
                <div class="card-body">
                    <h5 class="card-title text-center">Level up!</h5>
                    <p class="card-text text-center">Kill enemies to gain experience and level up. Choose weapons
                        and
                        upgrades to guarentee your success</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/game-pictures/picture3.png" class="card-img-top" alt="Gameplay picture showing different weapons">
                <div class="card-body">
                    <h5 class="card-title text-center">Unlock powerfull weapons!</h5>
                    <p class="card-text text-center">Discover a variety of weapons, each having up to 4 levels with
                        increasing power</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/game-pictures/picture4.png" class="card-img-top" alt="Gameplay picture showing game over screen">
                <div class="card-body">
                    <h5 class="card-title text-center">How long can you survive?</h5>
                    <p class="card-text text-center">Try to stay alive as long as possible while your enemies get stronger</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center">Ready to join the battle?</h2>
        <p class="text-center"><a class="link-light" href="/login" routerLink="../login">Login</a> or <a class="link-light" href="register" routerLink="../register">create an account</a> to play the game now!</p>
    </div>
</div>